# You know what it is
TOKEN = "........"

# Technically does nothing
CURRENT_VERSION = "0.1.1"

PREFIX = ';'

VOICE_CHANNEL_DIVIDER = '|'

""" All the constant below aren't really code related """

# 0xRRGGBB aka HEX
MAIN_COLOR      = 0x091A4C
SECONDARY_COLOR = 0xD86156
OFF_COLOR_1     = 0xF2B53C
OFF_COLOR_2     = 0x5F6662
OFF_COLOR_3     = 0x3BCCB3

GITHUB_LINK = "https://github.com/Linglot/mouse"
INV_LINK = "https://discord.gg/uFWNUBQ"