from settings.constants import MOD_ROLES

# You know what it is
TOKEN = "........"

# Commands prefix
PREFIX = ';'

# Divider for voice channel's name changing stuff.
# Probably will be replaced or changed later
VOICE_CHANNEL_DIVIDER = '|'

# All the possible settings could be changed here
settings = {
    'logging': {  # Settings for logging features
        'file_name': 'discord.log'
    },
    'change_channel_lang': {  # Restriction for changing channel's language
        'max_lang_name_length': 20
    },
    'combined_search': {  # Restriction for combined search
        'role_limit': 4,  # The number of maximum combination of roles in 1 query
        'max_user_name_length': 20  # If the name longer than this, it gets cut off
    },
    'ping': {
        'roles_allowed_to_ping': [*MOD_ROLES, 'Event host'],
        'unpingable_roles': ['here', 'everyone', 'Lounge', 'Lurker', 'Event host', 'Correct me!', 'Warning'],
        'cooldown': 15 * 60  # in seconds. 15 mins
    }
}
